
@header-height: 50px;
.layout{
  .header{
    position:fixed;
    width:100%;
    left:0;
    top:0;
    right: 0;
    height: @header-height;
    z-index: 1000;
    background: rgb(9, 86, 202);
    font-size: 25px;
    line-height: 50px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
  }
  .innerlayout{
    margin-top:  @header-height;
    .innerspder{
      overflow:auto;
      height: 100vh !important;
      position: fixed;
      left: 0 !important;
    }
  }
  
}

:global{
  .ant-drawer-content-wrapper{
    margin-top: @header-height !important;
  }
  
  .ant-drawer-mask{
    margin-top: @header-height !important;
  }
  .ant-drawer{
    z-index: 99 !important;
  }
}
